<!-- fragments/footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Recetas App</h5>
                <p>Comparte y descubre recetas increíbles</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>&copy; 2024 Recetas App. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</html>